

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    color: $text-color;

    &__title{
        margin-top: 0;
        margin-bottom: 94px;
        color: $base-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }

    &--work{
        margin-bottom: 50px;
    }

    &--worker{
        margin-bottom: 50px;
    }

    &--clients{
        margin-bottom: 50px;
    }

    &--background{
        background-color: $button-bg-color;
    }
}


.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}