.footer-form {
    margin-left: 93px;

    &__field{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__title{
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: $bg-color;
    }

    &__button{
        display: inline-flex;
        align-items: center;
        min-width: 200px;
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 29px;
        margin-left: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        letter-spacing: 0.06em;
        color: $bg-color;
        background-color: $acent-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 1px solid transparent;
    }

    &__input{
        width: 356px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: #2f303a;
        padding-left: 15px;

        &::placeholder{
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__icon{
        width: 24px;
        height: 24px;
        margin-left: 10px;
        margin-right: 28px;

    }
}

