

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    color: $text-color;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__title{
        margin-top: 0;
        margin-bottom: 30px;
        color: $base-color;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;

        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
    }

    &--work{
        margin-bottom: 30px;
    }

    &--worker{
        margin-bottom: 30px;
    }

    &--clients{
        margin-bottom: 30px;
    }

    &--background{
        background-color: $button-bg-color;
    }
}

@media screen and (min-width: 1200px) {
    .no-padding {
        padding-top: 0;
    }
    
}
