
$base-color: #212121;
$bg-color: #ffffff;
$acent-color: #2196f3;
$text-color: #757575;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$button-bg-color: #f5f4fa;
$thumb-color: rgba(47, 48, 58, 0.8);
$hero-color: #c4c4c4;
$backdrop-color: rgba(0, 0, 0, 0.2);
